<div class="body" style="padding-top: 20px;">
  <div style="text-align: center;">
    <%= image_tag("/assets/images/garuda.png", height: '160', width: '160') %>
  </div>



<body>
  <h1>Persyaratan Pembuatan SPLP</h1>
  <h3>Harap perhatikan persyaratan dokumen untuk permohonan SPLP. Syarat - syarat dokumen tersebut HARUS di scan/foto dan kemudian diunggah kedalam form aplikasi <i>online</i>. </h3>
  <h3>Permohonan SPLP anda <b>tidak akan diproses</b> tanpa syarat - syarat dokumen yang lengkap dan valid</h3>
  <h4><a href="<%= splps_path %>"><u>Klik disini untuk Form Permohonan <i>Online</i></u></a></h4>
<table border="1" cellpadding="2" cellspacing="1" width="1200" style="font-size:9pt;">
  <thead style="font-weight:bold;text-align:center;background:#CCCCCC;">
    <tr>
      <td colspan="2" rowspan="2">Jenis & Biaya</td>
      <td rowspan="2">Persyaratan</td>
      <td colspan="5">Persyaratan Pemegang Paspor</td>
    </tr>
    <tr>
      <td>TKI dan ABK</td>
      <td>Professional</td>
      <td>Ikut Istri/Suami</td>
      <td>Ikut Orang Tua</td>
      <td>Pelajar</td>
    </tr>
  </thead>
  <tr>
    <td rowspan="2" width="100" align="center" style="background:#eeeeee;font-weight:bold;">SPLP</td>

    <td style="background:#FFFF99;text-align:center;font-style:italic;">$6.00</td>
    <td>
      <ul>
        <li>Surat Keterangan Hilang dari Kepolisian</li>
        <li>Fotokopi Paspor Lama (Bila Ada)</li>
        <li>ARC (Alien Registration Card)</li>
        <li>Pas Foto</li>
        <li>Surat Keterangan Kerja dari Perusahaan</li>
        <li>SLC (Standard Labour Contract)</li>
      </ul>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>


</table>
