<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Template 1</title>
	</head>
	<body>
		
		<div style="width:400px;height:80px;">&nbsp;</div>
		<div style="clear:both;"></div>		
		<div style="width:500px;float:left;height:auto;">
			<table cellpadding="6" cellspacing="0" width="100%" border="0" style="text-align:left;font-size:10pt;">
				<tbody>
						<tr>							
							<td colspan="2" style="padding-left:78px;">1C1 37A 0720 PRT</td>
						</tr>
						<tr><td>&nbsp;</td></tr>
						<tr><td>&nbsp;</td></tr>
						<tr><td>&nbsp;</td></tr>
						<tr>
							<td width="105px"></td>							
							<td>SEOUL</td>
						</tr>
						<tr>
							<td></td>
							<td>01 OCT 2015</td>
						</tr>
						<tr>
							<td></td>
							<td>01 DEC 2015</td>
						</tr>
						<tr>
							<td></td>
							<td>Kedutaan Besar RI, Seoul</td>
						</tr>
						<tr>
							<td colspan="2" style="padding-left:105px;">A.n Kepala Perwakilan RI</td>						
						</tr>
						<tr style="margin-top:-20px;">
							<td></td>
							<td>Fungsi Konsuler</td>
						</tr>
						<tr><td>&nbsp;</td></tr>
						<tr><td>&nbsp;</td></tr>
						<tr>
							<td></td>
							<td style="text-decoration:underline;">DIDIK EKO PUJIANTO</td>
						</tr>
						<tr>
							<td></td>
							<td>MINISTER COUNSELLOR</td>
						</tr>
						
				</tbody>
			</table>
		</div>		
	</body>
	<!-- end: BODY -->
</html>