<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Template SPLP page 3</title>
	</head>
	<body>
		
		<div style="width:400px;height:80px;">&nbsp;</div>
		<div style="clear:both;"></div>		
		<div style="width:500px;float:left;height:auto;">
			<table cellpadding="2" cellspacing="0" width="100%" border="0" style="text-align:left;font-size:10pt;">
				<tbody>
						<tr>
							<td style="text-decoration:underline;" width="130px;">Pengganti Paspor</td>
							<td>:&nbsp;U 89103KZ</td>
						</tr>
						<tr>
							<td style="text-decoration:underline;">Dikeluarkan di Imigrasi</td>
							<td>:&nbsp;MADIUN</td>
						</tr>
						<tr>
							<td style="text-decoration:underline;">Tanggal</td>
							<td>:&nbsp;12-04-2009</td>
						</tr>
						<tr><td colspan="2">&nbsp;</td></tr>
						<tr><td colspan="2">&nbsp;</td></tr>
						<tr><td colspan="2">&nbsp;</td></tr>
						<tr>
							<td></td>
							<td style="padding-bottom:20px;">SEOUL, 01 OCT 2015</td>
						</tr>
						<tr>
							<td></td>
							<td>A.n Kepala Perwakilan R.I.</td>
						</tr>
						<tr>
							<td></td>
							<td style="padding-left:25px;">Fungsi Konsuler</td>
						</tr>
						<tr><td colspan="2">&nbsp;</td></tr>
						<tr><td colspan="2">&nbsp;</td></tr>
						<tr>
							<td></td>
							<td style="padding-left:13px;">
								<a style="text-decoration:underline;">DIDIK EKO PUJIANTO</a><br />
								MINISTER COUNSELOR
							</td>
						</tr>
				</tbody>
			</table>
		</div>		
	</body>
	<!-- end: BODY -->
</html>