<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Template SPLP page 1</title>
	</head>
	<body>
		
		<div style="width:400px;height:120px;">&nbsp;</div>
		<div style="clear:both;"></div>		
		<div style="width:500px;margin-left:120px;float:right;height:auto;">
			<table cellpadding="2" cellspacing="0" width="100%" border="0" style="text-align:left;font-size:10pt;">
				<tbody>
						<tr>
							<td width="105px"></td>
							<td><% @splp.kelamin %> ddfsTOHIR</td>
						</tr>
						<tr><td>&nbsp;</td></tr>
						<tr><td>&nbsp;</td></tr>
						<tr><td>&nbsp;</td></tr>
						<tr>
							<td></td>
							<td></td>
							<td>SUMBER AGUNG, 20 APR 1975</td>
						</tr>
						<tr><td>&nbsp;</td></tr>
						<tr><td>&nbsp;</td></tr>
						<tr><td>&nbsp;</td></tr>
				</tbody>
			</table>
		</div>		
		<div style="width:500px;margin-left:120px;float:right;height:auto;">	
			<table cellpadding="2" cellspacing="0" width="100%" border="0" style="text-align:left;font-size:10pt;">
				<tbody>
						<tr>							
							<td colspan="2" style="padding-left:68px">DKH GADEL 06/01
								<br />
								SIDOREJO SUKOREJO
								<br />
								PONOROGO
							</td>							
						</tr>		
						<tr>
							<td width="105px"></td>
							<td>160CM</td>
						</tr>				
				</tbody>
			</table>
		</div>
	</body>
	<!-- end: BODY -->
</html>