<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META http-equiv="X-UA-Compatible" content="IE=8">
<TITLE>SPLP halaman 2</TITLE>
<STYLE type="text/css">

body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 322px 0px 0px 0px;padding: 0px;border: none;width: 1056px;}

.ft0{font: bold 14px 'Arial';line-height: 15px;}
.ft1{font: bold 13px 'Arial';text-decoration: underline;line-height: 15px;}

.p0{text-align: left;padding-left: 70px;margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: left;padding-left: 130px;margin-top: 104px;margin-bottom: 0px;}
.p2{text-align: left;padding-left: 150px;margin-top: 26px;margin-bottom: 0px;}
.p3{text-align: right;padding-right: 800px;margin-top: 23px;margin-bottom: 0px;}
.p4{text-align: left;padding-left: 111px;margin-top: 23px;margin-bottom: 0px;}
.p5{text-align: left;padding-left: 147px;margin-top: 0px;margin-bottom: 0px;}
.p6{text-align: left;padding-left: 128px;margin-top: 60px;margin-bottom: 0px;}
.p7{text-align: left;padding-left: 162px;margin-top: 0px;margin-bottom: 0px;}




</STYLE>
</HEAD>

<BODY>
<DIV id="page_1">


<P class="p0 ft0">1C1.37A.0966.PRX</P>
<P class="p1 ft0">SEOUL</P>
<P class="p2 ft0">23 DEC 2015</P>
<P class="p2 ft0">23 JAN 2016</P>
<P class="p3 ft0">Kedutaan Besar RI, Seoul</P>
<P class="p4 ft0">A.n. Kepala Perwakilan R.I.</P>
<P class="p5 ft0">Fungsi Konsuler</P>
<P class="p6 ft1">BAMBANG WITJAKSONO</P>
<P class="p7 ft0">COUNSELLOR</P>
</DIV>
</BODY>
</HTML>
